<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><small>THÊM MỚI THƯƠNG HIỆU - HÃNG SẢN XUẤT</small></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a ui-sref="home">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a ui-sref="home">Quản lý thông tin</a></li>
                    <li class="breadcrumb-item"><a ui-sref="brand">Thương hiệu - Hãng sản xuất</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div style="width:95%; margin:auto;">
        <!-- Horizontal Form -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">THÊM MỚI THƯƠNG HIỆU - HÃNG SẢN XUẤT</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" novalidate name="frmCreateBrand" role="form" ng-submit="CreateBrand()">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên thương hiệu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" ng-model="brand.Name" ng-maxlength="50" placeholder="Tên thương hiệu - Hãng sản xuất" required>
                            <div class="has-error" ng-show="frmCreateBrand.name.$invalid">
                                <span ng-show="frmCreateBrand.name.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập tên thương hiệu!</span>
                                <span ng-show="frmCreateBrand.name.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 50 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nguồn gốc, xuất xứ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="brandOrigin" ng-model="brand.BrandOrigin" ng-maxlength="50" placeholder="Nguồn gốc, xuất xứ thương hiệu" required>
                            <div class="has-error" ng-show="frmCreateBrand.brandOrigin.$invalid">
                                <span ng-show="frmCreateBrand.brandOrigin.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập nguồn gốc, xuất xứ thương hiệu!</span>
                                <span ng-show="frmCreateBrand.brandOrigin.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 50 ký tự!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button ui-sref="brand" class="btn btn-danger">Hủy</button>
                    <button type="submit" ng-disabled="frmCreateBrand.$invalid" class="btn btn-success float-right">Thêm</button>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
    </div>
</section>