<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><small>THÊM MỚI THÔNG TIN LIÊN HỆ</small></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a ui-sref="home">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a ui-sref="home">Quản lý thông tin</a></li>
                    <li class="breadcrumb-item"><a ui-sref="about">Thông tin liên hệ</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div style="width:95%; margin:auto;">
        <!-- Horizontal Form -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">THÊM MỚI THÔNG TIN LIÊN HỆ</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" novalidate name="frmCreateAbout" role="form" ng-submit="CreateAbout()">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên cửa hàng <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" ng-model="about.Name" ng-maxlength="250" placeholder="Tên thông tin liên hệ" required>
                            <div class="has-error" ng-show="frmCreateAbout.name.$invalid">
                                <span ng-show="frmCreateAbout.name.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập tên thông tin liên hệ!</span>
                                <span ng-show="frmCreateAbout.name.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Điện thoại liên lạc <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="phone" ng-model="about.Phone" ng-maxlength="10" placeholder="Số điện thoại liên lạc" required>
                            <div class="has-error" ng-show="frmCreateAbout.phone.$invalid">
                                <span ng-show="frmCreateAbout.phone.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập số điện thoại liên lạc!</span>
                                <span ng-show="frmCreateAbout.phone.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 10 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Địa chỉ <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="address" ng-model="about.Address" ng-maxlength="250" placeholder="Địa chỉ cửa hàng" required>
                            <div class="has-error" ng-show="frmCreateAbout.address.$invalid">
                                <span ng-show="frmCreateAbout.address.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập địa chỉ cửa hàng!</span>
                                <span ng-show="frmCreateAbout.address.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="email" ng-model="about.Email" ng-maxlength="250" placeholder="Email liên hệ cửa hàng">
                            <div class="has-error" ng-show="frmCreateAbout.email.$invalid">
                                <span ng-show="frmCreateAbout.email.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Website</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="website" ng-model="about.Website" ng-maxlength="250" placeholder="Đường dẫn URL trỏ tới website">
                            <div class="has-error" ng-show="frmCreateAbout.website.$invalid">
                                <span ng-show="frmCreateAbout.website.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mô tả cửa hàng</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="description" ckeditor="ckeditorOptions" ng-model="about.Description" placeholder="Nội dung mô tả cửa hàng"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Vĩ độ (bản đồ)</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="maplat" ng-model="about.MapLat" ng-maxlength="250" placeholder="Tọa độ của vĩ độ">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Kinh độ (bản đồ)</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="maplat" ng-model="about.MapLong" ng-maxlength="250" placeholder="Tọa độ của kinh độ">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Trạng thái hoạt động</label>
                        <div class="col-sm-9">
                            <div class="custom-checkbox">
                                <label>
                                    <input type="checkbox" name="status" ng-model="about.Status" ng-checked="about.Status">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button ui-sref="about" class="btn btn-danger">Hủy</button>
                    <button type="submit" ng-disabled="frmCreateAbout.$invalid" class="btn btn-success float-right">Thêm</button>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
    </div>
</section>