<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><small>THÊM MỚI TIN TỨC</small></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a ui-sref="home">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a ui-sref="home">Quản lý thông tin</a></li>
                    <li class="breadcrumb-item"><a ui-sref="news">Tin tức</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div style="width:95%; margin:auto;">
        <!-- Horizontal Form -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">THÊM MỚI TIN TỨC</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" novalidate name="frmCreateNews" role="form" ng-submit="CreateNews()">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên tin tức <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" ng-model="news.Name" ng-change="GetMetaTitle()" ng-maxlength="250" placeholder="Tên tin tức" required>
                            <div class="has-error" ng-show="frmCreateNews.name.$invalid">
                                <span ng-show="frmCreateNews.name.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập tên tin tức!</span>
                                <span ng-show="frmCreateNews.name.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên danh mục <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" name="newsCateID" ng-model="news.NewsCateID" ng-options="option.NewsCateID as option.Name for option in newsCategory" required>
                                <option value="">Chọn danh mục tin tức</option>
                            </select>
                            <input type="hidden" name="newsCateID" ng-model="news.NewsCateID" />
                            <div class="has-error" ng-show="frmCreateNews.newsCateID.$invalid">
                                <span ng-show="frmCreateNews.newsCateID.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa chọn tên danh mục tin tức!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Hình ảnh <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="image" ng-model="news.Image" ng-maxlength="250" placeholder="Hình ảnh tin tức">
                                <div class="has-error" ng-show="frmCreateNews.name.$invalid">
                                    <span ng-show="frmCreateNews.image.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập hình ảnh!</span>
                                    <span ng-show="frmCreateNews.image.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                                </div>
                                <button class="btn btn-default btn-sm" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                                <button class="btn btn-danger btn-sm" style="margin-left:5px;" type="button" ng-click="DeleteImage()">Xóa ảnh</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nội dung tin tức <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="description" ckeditor="ckeditorOptions" ng-model="news.Description" placeholder="Mô tả nội dung tin tức" required></textarea>
                            <div class="has-error" ng-show="frmCreateNews.description.$invalid">
                                <span ng-show="frmCreateNews.description.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập nội dung tin tức!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tag</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="tag" ng-model="news.Tag" ng-maxlength="500" placeholder="Gắn thẻ (Tag - nếu có)"></textarea>
                            <span ng-show="frmCreateNews.tag.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 500 ký tự!</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tiêu đề SEO <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="metaTitle" ng-model="news.MetaTitle" ng-maxlength="250" placeholder="Tên tiêu đề SEO (Meta Title)" required>
                            <div class="has-error" ng-show="frmCreateNews.metaTitle.$invalid">
                                <span ng-show="frmCreateNews.metaTitle.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập tên tiêu đề SEO!</span>
                                <span ng-show="frmCreateNews.metaTitle.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Từ khóa SEO</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="metaKeywords" ng-model="news.MetaKeywords" ng-maxlength="250" placeholder="Từ khóa SEO (Meta Keywords - nếu có)">
                            <span ng-show="frmCreateNews.metaKeywords.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mô tả SEO</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="metaDescriptions" ng-model="news.MetaDescriptions" ng-maxlength="500" placeholder="Mô tả SEO (Meta Descriptions - nếu có)"></textarea>
                            <span ng-show="frmCreateNews.metaDescriptions.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 500 ký tự!</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Trạng thái hoạt động</label>
                        <div class="col-sm-9">
                            <div class="custom-checkbox">
                                <label>
                                    <input type="checkbox" name="status" ng-model="news.Status" ng-checked="news.Status">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button ui-sref="news" class="btn btn-danger">Hủy</button>
                    <button type="submit" ng-disabled="frmCreateNews.$invalid" class="btn btn-success float-right">Thêm</button>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
    </div>
</section>