.tag h6 {
    font-size: 1em;
    color: #777;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 #ffffff;
}

.tag_nav {
    float: left;
}

    .tag_nav li {
        display: inline-block;
        margin: 5px 5px;
    }

        .tag_nav li a {
            padding: 5px;
            display: block;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }

            .tag_nav li a:hover {
                background: #eeeeee;
            }

.introduce {
    float: left;
    width: 40%;
}

    .introduce a {
        text-decoration: none;
        font-size: 1em;
        color: #000;
    }

.error {
    color:red;
    font-style:italic;
}

.register-top-grid input[type="password"], .register-bottom-grid input[type="password"] {
    border: 1px solid #EEE;
    outline-color: #FF5B36;
    width: 85%;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 0;
}

.register-but input[type="submit"] {
    background: #F97E76;
    color: #FFF;
    font-size: 1em;
    padding: 0.8em 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    outline: none;
}