<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><small>CẬP NHẬT BANNER</small></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a ui-sref="home">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a ui-sref="home">Quản lý thông tin</a></li>
                    <li class="breadcrumb-item"><a ui-sref="banner">Banner</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div style="width:95%; margin:auto;">
        <!-- Horizontal Form -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">CẬP NHẬT BANNER: {{banner.Name}}</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" novalidate name="frmUpdateBanner" role="form" ng-submit="UpdateBanner()">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mã banner</label>
                        <lable class="col-sm-9 col-form-label">{{banner.BannerID}}</lable>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên banner <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" ng-model="banner.Name" ng-maxlength="50" placeholder="Tên banner" required>
                            <div class="has-error" ng-show="frmUpdateBanner.name.$invalid">
                                <span ng-show="frmUpdateBanner.name.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập tên banner!</span>
                                <span ng-show="frmUpdateBanner.name.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 50 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Hình ảnh <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="image" ng-model="banner.Image" ng-maxlength="250" placeholder="Hình ảnh banner" required>
                                <div class="has-error" ng-show="frmUpdateBanner.name.$invalid">
                                    <span ng-show="frmUpdateBanner.image.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập hình ảnh!</span>
                                    <span ng-show="frmUpdateBanner.image.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                                </div>
                                <button class="btn btn-default btn-sm" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                                <button class="btn btn-danger btn-sm" style="margin-left:5px;" type="button" ng-click="DeleteImage()">Xóa ảnh</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Đường dẫn <span style="color:red"> (*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="link" ng-model="banner.Link" ng-maxlength="250" placeholder="Đường dẫn URL trỏ tới" required>
                            <div class="has-error" ng-show="frmUpdateBanner.link.$invalid">
                                <span ng-show="frmUpdateBanner.link.$error.required" class="has-error" style="color: red; font-style: italic; font-size: small;">Bạn chưa nhập đường dẫn banner!</span>
                                <span ng-show="frmUpdateBanner.link.$error.maxlength" class="has-error" style="color: red; font-style: italic; font-size: small;">Chỉ nhập tối đa 250 ký tự!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nội dung banner</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="description" ckeditor="ckeditorOptions" ng-model="banner.Description" placeholder="Mô tả nội dung banner"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Thứ tự banner</label>
                        <div class="col-sm-9">
                            <input type="number" min="0" class="form-control" name="sort" ng-model="banner.Sort" placeholder="Thứ tự hiển thị banner (nếu có)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Trạng thái hoạt động</label>
                        <div class="col-sm-9">
                            <div class="custom-checkbox">
                                <label>
                                    <input type="checkbox" name="status" ng-model="banner.Status" ng-checked="banner.Status">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Ngày tạo</label>
                        <label class="col-sm-9 col-form-label">{{banner.CreateDate | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button ui-sref="banner" class="btn btn-danger">Hủy</button>
                    <button type="submit" ng-disabled="frmUpdateBanner.$invalid" class="btn btn-success float-right">Lưu</button>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
    </div>
</section>